<h1>Stupid Coaching</h1>

<form action="/answer" class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Ask your question</label>
    <input name ="answer" type="text" class="form-control" placeholder="Your question here">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Send</button>
</form>
